<mat-toolbar class="app-header">
  <div><a href="users-management" target="_self" class="positronx">Manage pacients</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Login</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
<!--    <a *ngIf="isUserLoggedIn() && isUserAdmin()" mat-button mat-raised-button routerLink="users-management" routerLinkActive="active">Manage Users</a>-->
<!--    <button mat-button style="color: white" (click)="logout()">-->
<!--      <mat-icon>exit_to_app</mat-icon>-->
<!--      Logout-->
<!--    </button>-->
  </span>
</mat-toolbar>
